.thin-scroll {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
	scrollbar-color: #45475a transparent;
}
.thin-scroll::-webkit-scrollbar {
	width: 4px;
}
.thin-scroll::-webkit-scrollbar-track {
	background: transparent;
}
.thin-scroll::-webkit-scrollbar-thumb {
	background: #313244;
	border-radius: 999px;
}
.thin-scroll::-webkit-scrollbar-thumb:hover {
	background: #45475a;
}
